<!DOCTYPE html>
<html>

<head>
    <title>
        <%= app_title %>
    </title>
    <link href="/css/style.min.css" rel="stylesheet" type="text/css" />
    <script src="/js/script.min.js"></script>
</head>

<body>
    <h1>
        <%= app_name %>
    </h1>
</body>

</html>